
<html>
    <head>
        <title>Growler</title>

        <link rel="stylesheet" type="text/css" href="./css/style.css">

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </head>
    <body>
        <div id="growler">
            <h2 v-html="appName" v-bind:class="{
                'headers': true,
                'accent-color': isOnline
            }
            " 
            v-bind:style="{ color:isOnline? '#FF6A00' : '#000' }"></h2>
            <img 
                alt="Growler"
                v-bind:src="appLogo"
                style="height:36px;"
            />

            <input v-model.trim="query" placeholder="Search...">
            <br />

            <div>Searching for: {{ query }}</div> 

            <textarea v-model="emailMessage" name="" id="" cols="30" rows="10"></textarea>

            <input type="checkbox" v-model="isPowerSyntaxEnabled">

            <!-- Checkbox -->
            <label for="">
                <input type="checkbox" value="beers" v-model="searchIndexes">
                Beers
            </label>
            <label for="">
                <input type="checkbox" value="breweries" v-model="searchIndexes">
                Breweries
            </label>
            <small>selected: {{ searchIndexes }}</small>

            <!-- Radios -->
            <label for="">
                <input type="radio" value="beers" v-model="searchIndex">
                Beers
            </label>
            <label for="">
                <input type="radio" value="breweries" v-model="searchIndex">
                Breweries
            </label>
            <small>selected: {{ searchIndex }}</small>

            <!-- Dropdown List -->

            <select v-model="selectedSearchIndex">
                <option value="beers">Beers</option>
                <option value="breweries">Breweries</option>
                <option value="distilleries">Distilleries</option>
                <option value="pubs">Pubs</option>
            </select>

            <small>selected: {{ selectedSearchIndex }} </small>

            <!-- Dropdown List Multiple -->

            <select multiple v-model="selectedSearchIndexes">
                <option value="beers">Beers</option>
                <option value="breweries">Breweries</option>
                <option value="distilleries">Distilleries</option>
                <option value="pubs">Pubs</option>
            </select>

            <small>selected: {{ selectedSearchIndexes }} </small>

            <!-- Number input -->

            <input v-model.number="result" placeholder="2+3=">

            <!-- Lazy Binding -->

            <input v-model.lazy="query" placeholder="Search...">

        </div>
        <script
            type="text/javascript"
            src="https://unpkg.com/vue@2.6.10/dist/vue.min.js">
        </script>
        <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </body>
</html>





